!!!
%html
   %head
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>url("/main.css")}

   -if defined? @title
      %title="Substitution - " + @title 
   -else
      %title="Substitution System"

   %body
      %div#page_wrapper
         %div#main_header
            %h1="Substitution"
            %h2=@title||"&nbsp;"
         %div#main_nav
            %ul
               %li
                  %a{:href=>url('/')}="Home"
               %li
                  %a{:href=>url("/submit")}="Submit"
               %li
                  %a{:href=>url("/list")}="List"


         %div#main_content
            =yield