!!!
%html
   %head
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>url("/main.css")}
      %link{:rel=>"stylesheet", :type=>"text/css", :media=>"print", :href=>url("/print.css")}

   -if defined? @title
      %title&="Substitution - " + @title 
   -else
      %title="Substitution System"

   %body
      %div#page_wrapper
         %div#main_header
            %h1="Substitution"
            -if @title
               %h2&=@title
            -else
               %h2="&nbsp;"
         %div#main_nav
            %ul
               %li
                  %a{:href=>url('/')}="Home"
               %li
                  %a{:href=>url("/submit")}="Request Substitution"
               %li
                  %a{:href=>url("/list")}="List Substitution"
               -if @teacher.admin
                  %li
                     %a{:href=>url("/auth/list")}="List Teachers"
                  %li
                     %a{:href=>url("/assign")}="Assign Substitutes"
               %li
                  %a{:href=>url("/auth/passwd")}="Change password"


         %div#main_content
            =yield