-# This partial renders the table view of subsummary.haml
%table  
   %tr
      %th
      -teacherperiods.each do |teacher,periods|
         %th&=teacher.code
   -nperiods=(@date.friday? && 11)|| 12
   -nperiods.times do |i|
      %tr
         %th=i==0?"R":i
         -if @date.friday? && i==5
            -teacherperiods.each do
               %td.disabled
         -elsif !(@date.friday? && i>10)
            -#should only be one period per actual period per teacher
            -teacherperiods.each do |teacher,period|
               -teacherperiod=period.find {|p| p.period==i && p.submission.teacher==teacher}
               -if teacherperiod
                  -if i==5 || (i==9 && !@date.friday?)
                     %td.section_end
                        %span.room&=teacherperiod.room
                        -if @view==:assign
                           %div
                              %label{:for=>"substitutes[#{teacherperiod.id}]"}="Sub:"
                              %input{:type=>"text",:name=>"substitutes[#{teacherperiod.id}]", :size=>2, :value=>@substitutes[teacherperiod.id]}
                        %p&=teacherperiod.work
                  -else
                     %td
                        %span.room&=teacherperiod.room
                        -if @view==:assign
                           %div
                              %label{:for=>"substitutes[#{teacherperiod.id}]"}="Sub:"
                              %input{:type=>"text",:name=>"substitutes[#{teacherperiod.id}]", :size=>2, :value=>@substitutes[teacherperiod.id]}
                        %p&=teacherperiod.work
               -else
                  -if i==5 || (i==9 && !@date.friday?)
                     %td.section_end
                  -else
                     %td
-if @view==:assign
   %input{:type=>"submit", :value=>"Assign Substitution"}