-#Some documentation:
-# @view=:new
-#    Same as :simpledate, but displays a confirmation message for a new submission
-#
-#       :simpledate
-#    Shows periods grouped by date. This works for pretty much any combination of periods
-#
-#       :table
-#    Shows a table for *a single day* of substitution, grouped by the substitute assigned
-#     This is designed to look the same as the paper printouts that are generated and distributed at Alex
-#     Requires a @date variable to figure out the timetable scheme for that day
-#
-#       :assign
-#    Same as :table, but is an interface to assign substitutes. 
-#     Instead of being grouped by substitute, it is grouped by the teacher who submitted it
-#     Requires @substitutes variable containing initial values (can be empty, but not nil)

-if @view==:new
   %h2="Substitution submitted!"
   %br

-if @submission
   %h3="Reason:"
   %p&=@submission.reason

-if @view==:new || @view==:simpledate
   -group_by_date(@periods).each do |date,periods|
      %h3.date=date.strftime('%A, %-d %b %Y')
      -periods.each do |period|
         %p.periodwork
            -if period.period==0
               %span&="Registration (#{period.room})"
            -else
               %span&="Period #{period.period} (#{period.room})"
            %br
            &=period.work
            
-if @view==:table || @view==:assign
   %link{:rel=>"stylesheet", :type=>"text/css", :media=>"print", :href=>"/print-timetable.css"}
   %h3.date=@date.strftime('%A, %-d %b %Y')
   %br
   -if @view==:assign
      -teacherperiods=group_by_teacher(@periods)
   -else
      -teacherperiods=group_by_sub(@periods).reject {|t,p| !t}
   -if teacherperiods.empty?
      %p="No substitution for today!"
      -if !(@view==:assign || group_by_sub(@periods).empty?)
         %span.err="Warning: Substitution might not have been assigned yet (there are people absent)"
   -else
      -if @view==:assign
         %form{:action=>"#", :method=>"post"}
            =render :haml, :p_summarytable, :locals=>{:teacherperiods=>teacherperiods}
      -else
         =render :haml, :p_summarytable, :locals=>{:teacherperiods=>teacherperiods}
      
      
-if !@view==:new
   %a{:href=>url("/")}="Back home"