-if defined? @message
   %h2=@message
   %br

%h3="Reason:"
%p=@submission.reason

-group_by_date(@periods).each do |date,periods|
   %h3.date=date
   -periods.each do |period|
      %p.periodwork
         %span="Period #{period.period} (#{period.room})"
         %br
         =period.work
%a{:href=>url("/")}="Back home"